@import "tailwindcss";

:root {
  --black-100: #27272a;
  --black-200: #18181b;
  --black-300: #09090b;

  --white-100: #3f3f46;
  --white-200: #71717a;
  --white-300: #a1a1aa;

  --red-100: #ef4444;
  --red-200: #e21d48;
}

@theme inline {
  /* ========================= 
    Colors
  ========================= */

  /* basic */
  --color-background: var(--black-300);
  --color-background-secondary: var(--black-200);
  --color-background-tertiary: var(--black-100);
  --color-foreground: var(--color-white);
  /* typography */
  --color-headings: var(--color-white);
  --color-paragraph: var(--white-300);
  --color-lable: var(--white-200);
  /* border */
  --color-border: var(--black-100);
  --color-button-border: var(--white-100);

  --color-red-100: #ef4444;
  --color-red-200: #e21d48;

  --color-nav-text: var(--color-white);
  --color-nav-text-hovered: var(--color-white-200);
  --color-nav-text-inactive: var(--color-white-300);
  /* ========================= 
    Fonts
  ========================= */

  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}
